<%= form_with(model: tag_association) do |form| %>
  <% if tag_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag_association.errors.count, "error") %> prohibited this tag_association from being saved:</h2>

      <ul>
        <% tag_association.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tagable_id %>
    <%= form.collection_select(:tagable_id, Project.all, :id, :title) %>
  </div>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.collection_select(:tag_id, Tag.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
