<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tag_association.id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @tag_association.created_at %>
</p>

<p>
  <strong>Tagable:</strong>
  <%= @tag_association.tagable_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @tag_association.tag_id %>
</p>

<%= link_to 'Edit', edit_tag_association_path(@tag_association) %> |
<%= link_to 'Back', tag_associations_path %>
--
<%= link_to 'Show', tag_association_show_path(@tag_association) %>
<%= link_to 'Edit', tag_association_edit_path(@tag_association) %>
<%= link_to 'Update', tag_association_update_path(@tag_association), method: :put %>
<%= link_to 'Destroy', tag_association_destroy_path(@tag_association), method: :delete, data: { confirm: 'Are you sure?' } %>
<hr>
<%= link_to 'Index', tag_association_index_path() %>
<%= link_to 'New', tag_association_new_path() %>
<%= link_to 'Create', tag_association_create_path() %>


